
<h1 class="text-center">All Cocktails</h1>
<%= link_to "Add new cocktail", new_cocktail_path %>
<hr>
<% if !@cocktails.blank? %>
<div class="container">
  <div class="row">
  <% for cocktail in @cocktails %>
    <%= render 'shared/card', cocktail: cocktail %>
  <% end %>
  </div>
</div>
<% else %>
  <p>No cocktails :( <%= link_to "Add one here.", new_cocktail_path %></p>
<% end %>


